<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading panel-title" data-toggle="collapse" data-target="#deadSteps" >
      Dead Steps <span class="glyphicon glyphicon-menu-down"></span>
    </div>
    <div id="deadSteps" class="panel-body collapse">
      <div>
        <% dead_steps = cuke_sniffer.get_dead_steps %>
        <% dead_steps.delete(:total) %>
        <% dead_step_count = dead_steps.values.flatten.count %>
        <% if !cuke_sniffer.cataloged? %>
            <div class="notes">Steps were not cataloged.</div>
        <% elsif dead_step_count == 0 %>
            <div class="notes">No dead steps found!</div>
        <% elsif dead_step_count == 1 %>
            <div class="notes"><%= dead_step_count %> Dead Step found.</div>
        <% else %>
            <div class="notes"><%= dead_step_count %> Dead Steps found.</div>
        <% end %>
      </div>
    </div>
  </div>
</div>