<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading panel-title" data-toggle="collapse" data-target="#improvement_list_data">
      Improvement List  <span class="glyphicon glyphicon-menu-down"></span>
    </div>
    <% improvement_list = cuke_sniffer.summary[:improvement_list] %>

    <div id="improvement_list_data" class="panel-body collapse">
      <% if improvement_list.empty? %>
        <div>
          No Improvements to make!
        </div>
      <% end %>
      <% improvement_list.each do |improvement, count| %>
        <div>
          <div class="col-md-1 red">
            <%= count %>
          </div>
          <div class="col-md-11">
            <%= improvement %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>