<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading panel-title" data-toggle="collapse" data-target="#information" >
      Information <span class="glyphicon glyphicon-menu-down"></span>
    </div>
    <div id="information" class="panel-body collapse">
      <div class="col-md-12">
        <div class="col-md-1">
          <h4>Purpose:</h4>
        </div>
        <div class="col-md-11">
          As users of Cucumber we are developers that wish to treat our testing projects with the same respect and
          quality as our production and user facing code. We wish to follow best practices and to avoid falling into
          some of the anti patterns that are easy to slip into using Cucumber. Cuke Sniffer was made to aid in the
          identification of these issues. The list of improvements has been constructed on opinions from the authors
          and feedback from community members. Not everyone will share these opinions and for that reason all
          improvements can be turned off when generating this report. See the
          <a target="_blank" href="https://github.com/r-cochran/cuke_sniffer/wiki">wiki</a> for instructions on how.
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-1">
          <h4>Scoring:</h4>
        </div>
        <div class="col-md-11">
          Scoring is based on the number of 'smells' in a cucumber project, where smells are potential misuses or
          errors. Cuke Sniffer follows a 'golf score' type system where the lower the number, the better. 'Min' refers
          to the overall best score for a particular object and the 'Max' is the overall worst object score. The score
          is <u>relative</u> to each project and should <u>not</u> be used to compare with others.
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-1">
          <h4>Authors:</h4>
        </div>
        <div class="col-md-11">
          <div>
            Robert Cochran <a target="_blank" href="https://twitter.com/cochrarj"><i class="fa fa-twitter"></i> @cochrarj</a>
          </div>
          <div>
            Robert Anderson <a target="_blank" href="https://twitter.com/bobthesatyr1337"><i class="fa fa-twitter"></i> @bobthesatyr1337</a>
          </div>
          <div>
            Christopher Vaughn <a target="_blank" href="https://twitter.com/mistercvaughn"><i class="fa fa-twitter"></i> @mistercvaughn</a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-1">
          <h4>Links:</h4>
        </div>
        <div class="col-md-11">
          <div>
            <div>
              <a target="_blank" href="https://github.com/r-cochran/cuke_sniffer/wiki/Patch-notes">
                <span class="fa fa-list"></span> Patch Notes
              </a>

            </div>
            <div>
              <a target="_blank" href="https://github.com/r-cochran/cuke_sniffer/blob/master/LICENSE">
                <span class="fa fa-balance-scale"></span> License
              </a>
            </div>
            <div>
              <a target="_blank" href="https://github.com/r-cochran/cuke_sniffer/wiki">
                <span class="fa fa-newspaper-o"></span> Wiki
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>