<style>
    .legend_header {
        font-weight: bold;
        width: 10%;
        vertical-align:text-top;
        border-bottom: 2px solid #add8e6;
    }
    .legend_description {
        border-bottom: 2px solid #add8e6;
    }
</style>

<div class="title" onclick="toggleById('legend', this)">
  Legend +
</div>
<div class="shrink_section" style="display: none;" id="legend">
  <div id="description">
    <table>
      <tr>
        <td class="legend_header">
          Purpose:
        </td>
        <td class="legend_description">
          cuke_sniffer is an open source project with the goal of aiding others in the maintenance and improvement of their cucumber projects. This tool will identify improvements for readability, misuse of cucumber practices, and point out step definitions that are no longer used (dead steps).
        </td>
      </tr>
      <tr>
        <td class="legend_header">
          Scoring:
        </td>
        <td class="legend_description">
          The higher the score the more improvements there are to be made. The score ultimately is unique to the project since projects can vary so much from domain, number of people involved, and how long the project has been around. We suggest that you use it as a measure against yourself as you move forward and make improvements.
        </td>
      </tr>
      <tr>
        <td class="legend_header">
          Summary:
        </td>
        <td class="legend_description">
          The summary section is designed to be a birds eye view of the project and give quick feedback on the health of a project.
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="legend_description">
          <table>
            <tr>
              <td class="legend_header">
                Total Score:
              </td>
              <td class="legend_description">
                This is the total points gathered by a given section. More often than not Scenarios will have the highest value in this section.
              </td>
            </tr>
            <tr>
              <td class="legend_header">
                Count:
              </td>
              <td class="legend_description">
                This is the total number of cucumber objects found in the project. If you have 30 feature files the features count will be 30. For Scenarios/Step Definitions/Hooks the count will be on objects gathered independent of the files they were found in.
              </td>
            </tr>
            <tr>
              <td class="legend_header">
                Lowest Score:
              </td>
              <td class="legend_description">
                This is to show the best score any object had obtained. This will most often be 0 unless every single object had an improvement found.
              </td>
            </tr>
            <tr>
              <td class="legend_header">
                Highest Score:
              </td>
              <td class="legend_description">
                This is to show the worst score any object had obtained. This can be used to quickly gauge the biggest area of improvement. The larger scoring sections will be Scenarios and Step Definitions.
              </td>
            </tr>
            <tr>
              <td class="legend_header">
                Average Score:
              </td>
              <td class="legend_description">
                This is to show the average score any object had obtained.
              </td>
            </tr>
            <tr>
              <td class="legend_header">
                Threshold:
              </td>
              <td class="legend_description">
                This is the value used to determine if a Feature/Scenario/Step Definition/Hook is good or bad. The value can be customized(see wiki on github) to scale what is good/bad for a project.
              </td>
            </tr>
            <tr>
              <td class="legend_header">
                Good:
              </td>
              <td class="legend_description">
                The percentage of objects that can be considered good. Based on the Threshold.
              </td>
            </tr>
            <tr>
              <td class="legend_header">
                Bad:
              </td>
              <td class="legend_description">
                The percentage of objects that can be considered bad. Based on the Threshold.
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="legend_header">
          Improvement List:
        </td>
        <td class="legend_description">
          This displays a sorted list of all the improvements that can be made in the project based on the total times a rule was triggered.
        </td>
      </tr>
      <tr>
        <td class="legend_header">
          Rules:
        </td>
        <td class="legend_description">
          This displays all of the rules when evaluating the project. The rules section is divided into Enabled and Disabled to show the status of any given rule.
        </td>
      </tr>
      <tr>
        <td class="legend_header">
          Dead Steps:
        </td>
        <td class="legend_description">
          This displays all steps that were found unused in a project. A step definition is considered unused if it is never directly referenced from a scenario or through a nested step call found in a step definition. There are also measures used to do fuzzy matching in the case of step definitions that are only ever called through constructed calls.
          This section is divided up by step definition file to more easily find/remove the unused step definition. We show the line and regex of each dead step.
        </td>
      </tr>
      <tr>
        <td class="legend_header">
          Features:
        </td>
        <td class="legend_description">
          This section contains all details around Features and Scenarios. Expanding each section will show you any rules and the location, title, and improvements. This section will be sorted by the combined score of the feature and its scenarios/background.
        </td>
      </tr>
      <tr>
        <td class="legend_header">
          Step Definitions:
        </td>
        <td class="legend_description">
          This section contains all details around Step Definitions. Expanding each section will show you any rules and the location, title, and improvements. This section also shows the number of calls made to this step definition. This includes individual calls from outlines and nested step calls.
        </td>
      </tr>
      <tr>
        <td class="legend_header">
          Hooks:
        </td>
        <td class="legend_description">
          This section contains all details around Hooks. Expanding each section will show you any rules and the location, title, and improvements.
        </td>
      </tr>
    </table>
  </div>
</div>

<br>
