<div id="rulesTab" class="title" onclick="toggleById('rules', this)">
  Rules +
</div>

<div class="shrink_section" id="rules">
  <%= enabled_rules %>
  <%= disabled_rules %>
</div>
<br style="clear:both">