<div class="row">
  <div class="page-header">
    <h1>
      Cuke Sniffer <a class="black" href="https://github.com/r-cochran/cuke_sniffer"><span class="fa fa-github"></span></a>
      <small><%= Gem.loaded_specs["cuke_sniffer"].version %></small>
    </h1>
    <div>Score:
      <span class="score"><%= cuke_sniffer.summary[:total_score] %></span>
    </div>
  </div>
</div>