<div style="font-family: Arial; float: left; color: #509f50; font-size: 20px; font-weight: bold; padding-bottom: 1px;">
  Cuke Sniffer
</div>
<br style="clear:both">
<div style="border-top: 2px solid #509f50; text-align: right;">
  <div style="font-family: Arial;border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;float: right; background-color:#509f50; color:white;padding-left:40px;font-size:11pt;font-weight:bold;padding-right:10px;">
    Score: <%= cuke_sniffer.summary[:total_score] %></div>
</div>
<br style="clear:both">