<div class="panel panel-default">
  <div class="panel-heading panel-title" data-toggle="collapse" data-target="#deadSteps" aria-expanded="true">
    Dead Steps <span class="glyphicon glyphicon-menu-up"></span>
  </div>
  <div id="deadSteps" class="panel-body collapse in" aria-expanded="true">
          <span class="button-bar">
            <div class="btn-group">
              <div class="btn btn-default" collapse="">
                Collapse All
              </div>
              <div class="btn btn-default" expand="">
                Expand All
              </div>
            </div>
          </span>
    <div>




      <div class="notes">6 Dead Steps found.</div>

    </div>


    <div class="deadStep blueRow">
      <div class="row">
        <div class="title col-md-12">
          <div class="col-md-1">
                          <span class="red" title="" data-original-title="Total dead steps in file.">
                            1
                          </span>
          </div>
          <div class="col-md-11">
            /features/features/step_definitions/old_steps/older_steps.rb
          </div>
        </div>
        <div class="details col-md-12" style="display: none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/step_definitions/old_steps/older_steps.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/step_definitions/old_steps/older_steps.rb
              </a>
              </div>

              <div class="col-md-11">
                /^ I used to log in with this step $/
              </div>
              <div class="col-md-1">
                Line: 1
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="deadStep">
      <div class="row">
        <div class="title col-md-12">
          <div class="col-md-1">
                          <span class="red" title="" data-original-title="Total dead steps in file.">
                            5
                          </span>
          </div>
          <div class="col-md-11">
            /features/features/step_definitions/old_steps/other_team_steps.rb
          </div>
        </div>
        <div class="details col-md-12" style="display:none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/step_definitions/old_steps/other_team_steps.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/step_definitions/old_steps/other_team_steps.rb
              </a>
              </div>

              <div class="col-md-11">
                /^I logged into VRV through IVSS$/
              </div>
              <div class="col-md-1">
                Line: 1
              </div>

              <div class="col-md-11">
                /^I logged into VRV through RVSS$/
              </div>
              <div class="col-md-1">
                Line: 7
              </div>

              <div class="col-md-11">
                /^I logged into VRV through AVSS$/
              </div>
              <div class="col-md-1">
                Line: 13
              </div>

              <div class="col-md-11">
                /^I logged into VRV\+ through IVSM$/
              </div>
              <div class="col-md-1">
                Line: 19
              </div>

              <div class="col-md-11">
                /^I logged into VRV\+ through AVSS$/
              </div>
              <div class="col-md-1">
                Line: 25
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>