<div class="panel panel-default">
  <div class="panel-heading panel-title" data-toggle="collapse" data-target="#features" aria-expanded="true">
    Features <span class="glyphicon glyphicon-menu-up"></span>
  </div>
  <div id="features" class="panel-body collapse in" aria-expanded="true">
      <span class="button-bar">
        <div class="btn-group">
          <div class="btn btn-default" collapse="">
            Collapse All
          </div>
          <div class="btn btn-default" expand="">
            Expand All
          </div>
        </div>
      </span>



    <div class="feature blueRow">
      <div class="row">
        <div class="col-md-12 title">
          <div class="col-md-1 red" title="" data-original-title="Total Score from this Feature.">
            5729
          </div>
          <div class="col-md-11">

            Stories 188234, 288111, 82811

          </div>
        </div>
        <div class="details col-md-12" style="display:none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/scenarios/RATE/KY/rate.feature" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/scenarios/RATE/KY/rate.feature
              </a>
              </div>
            </div>

            <div class="row featureProblems">
              <div class="col-md-12">
                <h4>
                  Feature:
                        <span class="red" title="" data-total-feature-score="80" data-original-title="Points earned from just the feature. This updates based on what rules
                        are active.">
                          80
                        </span>
                </h4>
              </div>

              <div data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  6
                </div>
                <div class="col-md-11" data-improvement="Same tag appears on both Feature and Scenario">
                  Same tag appears on both Feature and Scenario
                </div>
              </div>

              <div data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="There are commas in the description, creating possible multirunning scenarios or features.">
                  There are commas in the description, creating possible multirunning scenarios or features.
                </div>
              </div>

              <div data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Feature has numbers in the description.">
                  Feature has numbers in the description.
                </div>
              </div>

            </div>

            <div class="row backgroundProblems">

            </div>
            <div class="row scenarios">
              <div class="col-md-12">
                <h4>Scenarios:
                        <span class="red" title="" data-total-scenarios-score="5649" data-original-title="Total Points earned from all the scenarios in this feature. This updates
                        based on what rules are active.">
                          5649
                        </span>
                </h4>
              </div>
              <div class="col-md-12 scenarios">


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario Outline: Rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        223
                      </div>
                      <div class="col-md-11" data-improvement="Commented example.">
                        Commented example.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario Outline with too many examples.">
                        Scenario Outline with too many examples.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: I can rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: I can rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: I can rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: I can rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: I can rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: Cancel rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        2
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: screen.">
                        Implementation word used: screen.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: button.">
                        Implementation word used: button.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: click.">
                        Implementation word used: click.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="feature">
      <div class="row">
        <div class="col-md-12 title">
          <div class="col-md-1 red" title="" data-original-title="Total Score from this Feature.">
            5679
          </div>
          <div class="col-md-11">

            Stories 188234, 288111, 82811

          </div>
        </div>
        <div class="details col-md-12" style="display:none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/scenarios/RATE/OH/rate.feature" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/scenarios/RATE/OH/rate.feature
              </a>
              </div>
            </div>

            <div class="row featureProblems">
              <div class="col-md-12">
                <h4>
                  Feature:
                        <span class="red" title="" data-total-feature-score="20" data-original-title="Points earned from just the feature. This updates based on what rules
                        are active.">
                          20
                        </span>
                </h4>
              </div>

              <div data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="There are commas in the description, creating possible multirunning scenarios or features.">
                  There are commas in the description, creating possible multirunning scenarios or features.
                </div>
              </div>

              <div data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Feature has numbers in the description.">
                  Feature has numbers in the description.
                </div>
              </div>

            </div>

            <div class="row backgroundProblems">

              <div class="col-md-12">
                <h4>
                  Background:
                            <span class="red" title="" data-total-feature-score="10" data-original-title="Points earned from just the background. This updates based on what
                            rules are active.">
                              10
                            </span>
                </h4>
              </div>

              <div data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Invalid first step. Began with And/But.">
                  Invalid first step. Began with And/But.
                </div>
              </div>


            </div>
            <div class="row scenarios">
              <div class="col-md-12">
                <h4>Scenarios:
                        <span class="red" title="" data-total-scenarios-score="5659" data-original-title="Total Points earned from all the scenarios in this feature. This updates
                        based on what rules are active.">
                          5659
                        </span>
                </h4>
              </div>
              <div class="col-md-12 scenarios">


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario Outline: Rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        223
                      </div>
                      <div class="col-md-11" data-improvement="Commented example.">
                        Commented example.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario Outline with too many examples.">
                        Scenario Outline with too many examples.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: I can rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: I can rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: I can rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: I can rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: I can rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: Cancel rate
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        2
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: screen.">
                        Implementation word used: screen.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: button.">
                        Implementation word used: button.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: click.">
                        Implementation word used: click.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="feature blueRow">
      <div class="row">
        <div class="col-md-12 title">
          <div class="col-md-1 red" title="" data-original-title="Total Score from this Feature.">
            232
          </div>
          <div class="col-md-11">

            Story Card (1234528) Login

          </div>
        </div>
        <div class="details col-md-12" style="display:none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/scenarios/login.feature" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/scenarios/login.feature
              </a>
              </div>
            </div>

            <div class="row featureProblems">
              <div class="col-md-12">
                <h4>
                  Feature:
                        <span class="red" title="" data-total-feature-score="80" data-original-title="Points earned from just the feature. This updates based on what rules
                        are active.">
                          80
                        </span>
                </h4>
              </div>

              <div data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  6
                </div>
                <div class="col-md-11" data-improvement="Same tag appears on both Feature and Scenario">
                  Same tag appears on both Feature and Scenario
                </div>
              </div>

              <div data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Tag appears on all scenarios.">
                  Tag appears on all scenarios.
                </div>
              </div>

              <div data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Feature has numbers in the description.">
                  Feature has numbers in the description.
                </div>
              </div>

            </div>

            <div class="row backgroundProblems">

            </div>
            <div class="row scenarios">
              <div class="col-md-12">
                <h4>Scenarios:
                        <span class="red" title="" data-total-scenarios-score="152" data-original-title="Total Points earned from all the scenarios in this feature. This updates
                        based on what rules are active.">
                          152
                        </span>
                </h4>
              </div>
              <div class="col-md-12 scenarios">


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: I can log in to the system
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        2
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: text box.">
                        Implementation word used: text box.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: button.">
                        Implementation word used: button.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: page.">
                        Implementation word used: page.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Given/When/Then used multiple times in the same Scenario.">
                        Given/When/Then used multiple times in the same Scenario.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: I can't log into the system
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        2
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: text box.">
                        Implementation word used: text box.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: button.">
                        Implementation word used: button.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: pop up.">
                        Implementation word used: pop up.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: screen.">
                        Implementation word used: screen.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Given/When/Then used multiple times in the same Scenario.">
                        Given/When/Then used multiple times in the same Scenario.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: Login
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: button.">
                        Implementation word used: button.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: click.">
                        Implementation word used: click.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: page.">
                        Implementation word used: page.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Given/When/Then used multiple times in the same Scenario.">
                        Given/When/Then used multiple times in the same Scenario.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario: Login
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: button.">
                        Implementation word used: button.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: click.">
                        Implementation word used: click.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: page.">
                        Implementation word used: page.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Given/When/Then used multiple times in the same Scenario.">
                        Given/When/Then used multiple times in the same Scenario.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-12 scenario">
                  <div class="col-md-12 title">
                    <div class="btn btn-xs btn-default" style="display:none;"> <!--TODO enable this feature -->
                      View <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    Scenario Outline:
                  </div>
                  <div class="col-md-12 details well">

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        2
                      </div>
                      <div class="col-md-11" data-improvement="Implementation word used: text box.">
                        Implementation word used: text box.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Given/When/Then used multiple times in the same Scenario Outline.">
                        Given/When/Then used multiple times in the same Scenario Outline.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario Outline with only one example.">
                        Scenario Outline with only one example.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario steps out of Given/When/Then order.">
                        Scenario steps out of Given/When/Then order.
                      </div>
                    </div>

                    <div class="row" data-improvement-row="">
                      <div class="col-md-1 red" data-score="">
                        1
                      </div>
                      <div class="col-md-11" data-improvement="Scenario has no description.">
                        Scenario has no description.
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="feature">
      <div class="row">
        <div class="col-md-12 title">
          <div class="col-md-1 red" title="" data-original-title="Total Score from this Feature.">
            60
          </div>
          <div class="col-md-11">

            No Feature Description

          </div>
        </div>
        <div class="details col-md-12" style="display:none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/scenarios/empty_feature.feature" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/scenarios/empty_feature.feature
              </a>
              </div>
            </div>

            <div class="row featureProblems">
              <div class="col-md-12">
                <h4>
                  Feature:
                        <span class="red" title="" data-total-feature-score="60" data-original-title="Points earned from just the feature. This updates based on what rules
                        are active.">
                          60
                        </span>
                </h4>
              </div>

              <div data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Feature file has no content.">
                  Feature file has no content.
                </div>
              </div>

              <div data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Feature with no scenarios.">
                  Feature with no scenarios.
                </div>
              </div>

              <div data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Feature has no description.">
                  Feature has no description.
                </div>
              </div>

            </div>

            <div class="row backgroundProblems">

            </div>
            <div class="row scenarios">
              <div class="col-md-12">
                <h4>Scenarios:
                        <span class="red" title="" data-total-scenarios-score="0" data-original-title="Total Points earned from all the scenarios in this feature. This updates
                        based on what rules are active.">
                          0
                        </span>
                </h4>
              </div>
              <div class="col-md-12 scenarios">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>