<div class="panel panel-default">
  <div class="panel-heading panel-title" data-toggle="collapse" data-target="#hooks">
    Hooks <span class="glyphicon glyphicon-menu-down"></span>
  </div>
  <div id="hooks" class="panel-body collapse">
      <span class="button-bar">
        <div class="btn-group">
          <div class="btn btn-default" collapse="">
            Collapse All
          </div>
          <div class="btn btn-default" expand="">
            Expand All
          </div>
        </div>
      </span>



    <div class="hook blueRow">
      <div class="row">
        <div class="title col-md-12">
          <div class="col-md-1">
                          <span class="red" title="" data-original-title="Total score for Hook file.">
                            26
                          </span>
          </div>
          <div class="col-md-11">










            AfterConfiguration do
          </div>
        </div>
        <div class="details col-md-12" style="display:none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File:
                <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/support/env.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                  /features/features/support/env.rb:1
                </a>
              </div>
              <div class="well col-md-12">

                <div class="row" data-improvement-row="">
                  <div class="col-md-1 red" data-score="">
                    1
                  </div>
                  <div class="col-md-11" data-improvement="Hook found outside of the designated hooks file">
                    Hook found outside of the designated hooks file
                  </div>
                </div>

                <div class="row" data-improvement-row="">
                  <div class="col-md-1 red" data-score="">
                    1
                  </div>
                  <div class="col-md-11" data-improvement="Hook without a begin/rescue. Reduced visibility when debugging.">
                    Hook without a begin/rescue. Reduced visibility when debugging.
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="hook">
      <div class="row">
        <div class="title col-md-12">
          <div class="col-md-1">
                          <span class="red" title="" data-original-title="Total score for Hook file.">
                            25
                          </span>
          </div>
          <div class="col-md-11">













            After(@OH) do
          </div>
        </div>
        <div class="details col-md-12" style="display:none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File:
                <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/support/hooks.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                  /features/features/support/hooks.rb:6
                </a>
              </div>
              <div class="well col-md-12">

                <div class="row" data-improvement-row="">
                  <div class="col-md-1 red" data-score="">
                    1
                  </div>
                  <div class="col-md-11" data-improvement="Hook without a begin/rescue. Reduced visibility when debugging.">
                    Hook without a begin/rescue. Reduced visibility when debugging.
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="hook blueRow">
      <div class="row">
        <div class="title col-md-12">
          <div class="col-md-1">
                          <span class="red" title="" data-original-title="Total score for Hook file.">
                            25
                          </span>
          </div>
          <div class="col-md-11">













            Before(@OH) do
          </div>
        </div>
        <div class="details col-md-12" style="display:none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File:
                <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/support/hooks.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                  /features/features/support/hooks.rb:1
                </a>
              </div>
              <div class="well col-md-12">

                <div class="row" data-improvement-row="">
                  <div class="col-md-1 red" data-score="">
                    1
                  </div>
                  <div class="col-md-11" data-improvement="Hook without a begin/rescue. Reduced visibility when debugging.">
                    Hook without a begin/rescue. Reduced visibility when debugging.
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>