<div class="panel panel-default">
  <div id="stepDefinitionTab" class="panel-heading panel-title" data-toggle="collapse" data-target="#step_definitions">
    Step Definitions <span class="glyphicon glyphicon-menu-down"></span>
  </div>

  <div id="step_definitions" class="panel-body collapse">
      <span class="button-bar">
        <div class="btn-group">
          <div class="btn btn-default" collapse="">
            Collapse All
          </div>
          <div class="btn btn-default" expand="">
            Expand All
          </div>
        </div>
      </span>



    <div class="stepDefinition blueRow">
      <div class="row">
        <div class="col-md-12 title">
          <div class="col-md-1 red" title="" data-original-title="Total Score from this Step Definition file.">
            21
          </div>
          <div class="col-md-11">
            /^ I used to log in with this step $/
          </div>
        </div>
        <div class="details col-md-12" style="display: none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/step_definitions/old_steps/older_steps.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/step_definitions/old_steps/older_steps.rb:1
              </a>
              </div>
              <div class="col-md-12">

                Call(s): 0

              </div>
            </div>
            <div class="row well">

              <div class="row" data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  2
                </div>
                <div class="col-md-11" data-improvement="Lazy Debugging through puts, p, or print">
                  Lazy Debugging through puts, p, or print
                </div>
              </div>

              <div class="row" data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Small sleeps used. Use a wait_until like method.">
                  Small sleeps used. Use a wait_until like method.
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="stepDefinition">
      <div class="row">
        <div class="col-md-12 title">
          <div class="col-md-1 red" title="" data-original-title="Total Score from this Step Definition file.">
            12
          </div>
          <div class="col-md-11">
            /^I can click a logout button$/
          </div>
        </div>
        <div class="details col-md-12" style="display: none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/step_definitions/old_steps/older_steps.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/step_definitions/old_steps/older_steps.rb:7
              </a>
              </div>
              <div class="col-md-12">

                Call(s): 2

              </div>
            </div>
            <div class="row well">

              <div class="row" data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Large sleeps used. Use a wait_until like method.">
                  Large sleeps used. Use a wait_until like method.
                </div>
              </div>

              <div class="row" data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Small sleeps used. Use a wait_until like method.">
                  Small sleeps used. Use a wait_until like method.
                </div>
              </div>

              <div class="row" data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Lazy Debugging through puts, p, or print">
                  Lazy Debugging through puts, p, or print
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="stepDefinition blueRow">
      <div class="row">
        <div class="col-md-12 title">
          <div class="col-md-1 red" title="" data-original-title="Total Score from this Step Definition file.">
            10
          </div>
          <div class="col-md-11">
            /^I am logged in$/
          </div>
        </div>
        <div class="details col-md-12" style="display: none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/step_definitions/my_steps.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/step_definitions/my_steps.rb:1
              </a>
              </div>
              <div class="col-md-12">

                Call(s): 2

              </div>
            </div>
            <div class="row well">

              <div class="row" data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  1
                </div>
                <div class="col-md-11" data-improvement="Lazy Debugging through puts, p, or print">
                  Lazy Debugging through puts, p, or print
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="stepDefinition">
      <div class="row">
        <div class="col-md-12 title">
          <div class="col-md-1 red" title="" data-original-title="Total Score from this Step Definition file.">
            3
          </div>
          <div class="col-md-11">
            /^I logged into VRV through IVSS$/
          </div>
        </div>
        <div class="details col-md-12" style="display: none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/step_definitions/old_steps/other_team_steps.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/step_definitions/old_steps/other_team_steps.rb:1
              </a>
              </div>
              <div class="col-md-12">

                Call(s): 0

              </div>
            </div>
            <div class="row well">

              <div class="row" data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  3
                </div>
                <div class="col-md-11" data-improvement="Commented code in Step Definition.">
                  Commented code in Step Definition.
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="stepDefinition blueRow">
      <div class="row">
        <div class="col-md-12 title">
          <div class="col-md-1 red" title="" data-original-title="Total Score from this Step Definition file.">
            3
          </div>
          <div class="col-md-11">
            /^I logged into VRV\+ through IVSM$/
          </div>
        </div>
        <div class="details col-md-12" style="display: none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/step_definitions/old_steps/other_team_steps.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/step_definitions/old_steps/other_team_steps.rb:19
              </a>
              </div>
              <div class="col-md-12">

                Call(s): 0

              </div>
            </div>
            <div class="row well">

              <div class="row" data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  3
                </div>
                <div class="col-md-11" data-improvement="Commented code in Step Definition.">
                  Commented code in Step Definition.
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="stepDefinition">
      <div class="row">
        <div class="col-md-12 title">
          <div class="col-md-1 red" title="" data-original-title="Total Score from this Step Definition file.">
            3
          </div>
          <div class="col-md-11">
            /^I logged into VRV through AVSS$/
          </div>
        </div>
        <div class="details col-md-12" style="display: none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/step_definitions/old_steps/other_team_steps.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/step_definitions/old_steps/other_team_steps.rb:13
              </a>
              </div>
              <div class="col-md-12">

                Call(s): 0

              </div>
            </div>
            <div class="row well">

              <div class="row" data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  3
                </div>
                <div class="col-md-11" data-improvement="Commented code in Step Definition.">
                  Commented code in Step Definition.
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="stepDefinition blueRow">
      <div class="row">
        <div class="col-md-12 title">
          <div class="col-md-1 red" title="" data-original-title="Total Score from this Step Definition file.">
            3
          </div>
          <div class="col-md-11">
            /^I logged into VRV through RVSS$/
          </div>
        </div>
        <div class="details col-md-12" style="display: none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/step_definitions/old_steps/other_team_steps.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/step_definitions/old_steps/other_team_steps.rb:7
              </a>
              </div>
              <div class="col-md-12">

                Call(s): 0

              </div>
            </div>
            <div class="row well">

              <div class="row" data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  3
                </div>
                <div class="col-md-11" data-improvement="Commented code in Step Definition.">
                  Commented code in Step Definition.
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="stepDefinition">
      <div class="row">
        <div class="col-md-12 title">
          <div class="col-md-1 red" title="" data-original-title="Total Score from this Step Definition file.">
            3
          </div>
          <div class="col-md-11">
            /^I logged into VRV\+ through AVSS$/
          </div>
        </div>
        <div class="details col-md-12" style="display: none;">
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                File: <a target="_blank" href="file:////Users/robertcochran/workspaces/personal/cuke_sniffer/examples/complex_project/features/features/step_definitions/old_steps/other_team_steps.rb" title="" data-original-title="Note: Links to file on system this report was generated.">
                /features/features/step_definitions/old_steps/other_team_steps.rb:25
              </a>
              </div>
              <div class="col-md-12">

                Call(s): 0

              </div>
            </div>
            <div class="row well">

              <div class="row" data-improvement-row="">
                <div class="col-md-1 red" data-score="">
                  3
                </div>
                <div class="col-md-11" data-improvement="Commented code in Step Definition.">
                  Commented code in Step Definition.
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>